* {
    box-sizing: border-box;
  }

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
    height: 100%; 
    /* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .left {
    background-color: aqua;
    width: 75%;
  }

  .right {
    background-color: rgb(120, 120, 210);
    width: 25%;
  }

