@import "./styles/loading.css"; /* Using a string */
@import "./styles/bill.css"; /* Using a string */
@import "./styles/home.css"; /* Using a string */
@import "./styles/reminder.css"; /* Using a string */
@import "./styles/help.css"; /* Using a string */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  max-height: 50px; /* Adjust the max-height as needed */
}

.logout-btn {
  position: relative;
  top: 0;
  right: 0;
}

.logout-btn button {
  padding: 10px;
  background-color: #618DFF;
  border-radius: 5px;
  color: white;
  box-sizing: border-box; /* Include padding and border in the total width */
  margin-bottom: 10px; /* Add some spacing between elements */
  font-size: 20px;
}

.logout-btn button:hover {
  background-color: #a2b4e2;
  color: black;
}

